/* gray #efefef */

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin: 0 auto;
  text-decoration: none;
  color: initial;
}

* {
  margin: 0 0;
}

html {
  font-size: 18px;
  margin: 0 auto;
}

section {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 100px;
  width: 100%;
  background: black;
}

/************** MISCONCEPTION SECTION *************/

.misconception-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.misconception-text {
  font-size: 2.5rem;
  margin: 1rem 1rem;
}

.misconception-img img {
  margin: 1rem 1rem;
  max-width: 500px;
}

@media only screen and (max-width: 1125px) {
  .misconception-section {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .misconception-text {
    font-size: 2rem;
    margin: 1rem 1rem;
  }
}
