:root {
  --text-1: 0.5rem;
  --text-2: 1rem;
  --text-3: 1.5rem;
  --text-4: 2rem;
  --text-5: 2.5rem;
  --text-6: 3rem;
  --main: #3c4d5f;
  --main-comp-1: #e6efef;
  --main-comp-2: #cddfdf;
  --main-comp-3: #a8c7c7;
  --main-comp-4: #406464;
  --main-comp-5: #304b4b;
  --gs-1: #ffffff;
  --gs-2: #f5f5f5;
  --gs-3: #e0e0e0;
  --gs-4: #c2c2c2;
  --gs-5: #858585;
  --gs-6: #5c5c5c;
  --gs-7: #474747;
  --gs-8: #292929;
  --gs-9: #1f1f1f;
  --main-acc-1: #fdc872;
  --main-acc-2: #fcb84a;
  --main-acc-3: #fca822;
  --main-acc-4: #f19604;
  --comp-acc-1: #ba3b46;
  --comp-acc-2: #8c2c34;
  --comp-acc-3: #6d2228;
  --comp-acc-4: #4e181d;
  --button: #deb72b;
  --button-text: #ffffff;
  --button-hover: #ffd700;
  --button-hover-text: #292929;
  --glass: 29, 29, 32;
  --text: #292929;
  --header-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 18px;
  margin: 0 0;
  width: 100%;
  background: var(--main-comp-1);
  color: var(--gs-8);
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 38rem) {
  html {
    font-size: 14px;
  }
}

::selection {
  background: var(--main);
  color: var(--gs-1);
}

section {
  max-width: 700px;
  margin: 1rem auto 0 auto;
  padding: 0 1rem;
  overflow-x: hidden;
}

p {
  margin: 1rem 0;
  font-size: var(--text-2);
}

a {
  color: var(--text);
}

a:hover {
  font-style: italic;
  font-weight: 800;
  color: var(--button);
}

.center {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
}

/************ MOBILE ****************/

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: var(--main);
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: var(--main);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/************** MOBILE HEADER *************/
/******************************************/
header {
  margin: 0 auto;
}

.topheader {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.menu-ul > ul li {
  display: inline-block;
}

#home {
  display: none;
  justify-content: center;
  margin: 1rem 0;
}

#logo {
  display: none;
  max-width: 2rem;
  align-self: flex-start;
  height: auto;
}

#burger {
  display: none;
  cursor: pointer;
  align-self: center;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 38rem) {
  #home {
    display: flex;
    margin: 0 0;
    justify-content: space-between;
  }

  #logo {
    display: block;
    max-width: 2rem;
    margin: 0.5rem 0.5rem;
  }

  #burger {
    display: block;
    font-size: var(--text-3);
    margin-right: 1rem;
  }
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0rem;
}

.menu:before {
  content: "";
  background: hsla(0, 0%, 39%, 1);
  padding: 0.5px;
  flex: 100%;
}

.menu:after {
  content: "";
  background: hsla(0, 0%, 39%, 1);
  padding: 0.5px;
  flex: 100%;
}

@media only screen and (max-width: 38rem) {
  .menu-ul {
    display: none;
  }
}

.menu-ul > li {
  display: inline-block;
  margin: 1.25rem 1rem;
  text-align: center;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 38rem) {
  .mobile {
    display: inline-block;
  }

  .menu ul {
    width: 100%;
  }

  .menu li,
  .mobile {
    display: block;
    margin: 0;
    text-align: center;
  }
}

a menu-ul {
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
}

.ink-people {
  font-size: 0.65rem;
  margin: 0 auto;
}

.ink-people h3 {
  text-align: center;
  width: 100%;
}

button {
  background-color: var(--button);
  color: var(--button-text);
  width: 8rem;
  height: 3rem;
  font-weight: heavy;
  border-radius: 5px;
  font-size: var(--text-3);
  border: none;
}

button:hover {
  color: var(--button-hover-text);
  background-color: var(--button-hover);
}

h2 {
  text-align: center;
}

.menu-mobile {
  display: none;
}

@media only screen and (max-width: 38rem) {
  .menu-mobile.appear {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0;
  }

  .menu-ul-mobile.appear li {
    width: 100%;
    text-align: center;
    border-top: solid 2px var(--text);
  }
}

/*********************** TITLE AREA ****************/

.title-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: var(--gs-2);
  background-color: var(--main);
  border-top: var(--comp-acc-1) 6px solid;
  padding-bottom: 1rem;
}

.name-banner {
  text-align: center;
  font-size: var(--text-4);
  margin: 0.75rem 0;
  font-weight: 800;
}

/************** VIDEO / MISCONCEPTION SECTION *************/
/**************************************************/
@keyframes mymove {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.my-svg {
  animation: mymove 8s infinite;
  animation-iteration-count: 1;
  animation-delay: 3sec;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  height: 0;
  width: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  width: 100%;
  margin: 2rem auto;
  background-color: var(--main);
  border-top: 4px solid black;
  border-bottom: var(--comp-acc-1) 6px solid;
  padding-bottom: 3rem;
}

.video-container h4 {
  color: var(--main-comp-1);
}

.misconception-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.misconception-text h3 {
  margin: 1rem 1rem;
  margin: 2rem auto;
  text-align: center;
  font-size: var(--text-3);
}

.misconception-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.misconception-img img {
  width: 90%;
  max-width: 500px;
  align-self: center;
  height: auto;
  margin: 2rem auto;
}

/*************** Art List ***************/
/****************************************/

.art-list {
  margin-left: 5%;
}

@media only screen and (max-width: 38rem) {
  .art-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0;
  }

  .art-list li {
    width: 100%;
    text-align: left;
  }
}

/************** The MISSION *************/
/****************************************/

.the-mission {
  width: 100%;
  border-top: var(--text) 2px solid;
  border-bottom: var(--text) 4px solid;
  padding: 1rem 0;
}

/**************** Ad Copy ***************/
/****************************************/
@media only screen and (max-width: 50rem) {
  .ad-copy-flex-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    justify-content: space-around;
  }
}

.ad-copy-desktop {
  width: 100%;
  margin: 3rem auto;
  padding: 2rem 0rem;
  background-color: var(--main);
  border-top: 4px solid black;
  border-bottom: var(--comp-acc-1) 6px solid;
}

.ad-copy-flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

hr {
  border: 3px solid var(--main-comp-1);
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
}

.ad-copy-header {
  color: var(--main-comp-1);
  font-weight: 800;
  margin-bottom: 1rem;
}

.ad-copy-flex-container article {
  margin: 1rem 1.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--main-comp-1);
  font-weight: 800;
  max-width: 400px;
  flex: 1;
}

.ad-copy-desktop article:hover {
  transform: translateY(-5px);
}

.ad-copy-flex-container article a {
  color: var(--button);
}

.article-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container img {
  margin: 0 auto;
}

.ad-copy-flex-container article h2 {
  margin-bottom: 1rem;
}

.ad-copy-flex-container article ul {
  line-height: 1.5rem;
  text-align: left;
}

/************** DONATATIONS *************/

.donation-section {
  margin-top: 4rem;
}

.donate-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--main);
  color: var(--gs-2);
  width: 60%;
  padding: 1rem 1rem;
  margin: 3rem auto;
  border-bottom: var(--comp-acc-1) 6px solid;
}

@media only screen and (max-width: 38rem) {
  .donate-now {
    width: 90%;
  }
}

.donate-now button {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/***************** SLIDER ANIMATIONS *****************/
/*****************************************************/

.from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/************** FORM ****************/

.mailing-list a {
  color: var(--gs-2);
}

#mc_embed_signup {
  overflow: hidden;
}

#mc_embed_signup form {
  width: 60%;
  margin: 1rem auto;
  background: var(--main);
  color: var(--gs-2);
  border-bottom: var(--comp-acc-1) 6px solid;
}

@media only screen and (max-width: 38rem) {
  #mc_embed_signup form {
    width: 90%;
  }
}

#mc_embed_signup_scroll {
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

#mc_embed_signup_scroll .button-custom {
  background-color: var(--button);
  color: var(--button-text);
  width: 8rem;
  height: 3rem;
  font-weight: heavy;
  border-radius: 5px;
  font-size: var(--text-3);
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

#mc_embed_signup_scroll .button-custom:hover {
  color: var(--button-hover-text);
  background-color: var(--button-hover);
}

/***************** FOOTER *****************/
/******************************************/

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 8rem;
  color: var(--text);
  align-items: center;
  border-top: black 2px solid;
  padding: 0.5rem 0.5rem;
  text-align: center;
  width: auto;
  color: var(--gs-2);
  background-color: var(--main);
  border-bottom: var(--comp-acc-1) 6px solid;
}

.footer-p a {
  color: var(--gs-2);
  text-decoration: none;
}
